

  <tbody>
                             
    <tr *ngFor="let c of cmd" >
       <div class="col-md-9">
         
           <ul class="mu-menu-item-nav" >
            
             <li>
                 
               <div class="media">
                 <div class="media-left">
        
       </div>
                 <div class="media-body">
                   <h2 class="media-heading text-primary">title:{{hi.etat}}</h2>
                   <h3 class="media-heading text-dark">author:{{hi.montant}}</h3>
                 

               
       
   
 




                 </div>

               </div>
             </li>
              
              
            
             
           </ul>   
         </div>
    
</tr>


       </tbody>
 