<div>
  <img class="banner d-none d-sm-block" src="assets/img/bib.jpg">
 
  <div class="banner-text d-none d-sm-block animate-box " data-animate-effect="fadeInLeft">

<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
    <h1 class="block-title text-center" class="p-3 mb-2 bg-secondary text-white">

Liste des livres		
</h1></div>
<div class="btn btn-outline-warning btn-sm mb-2">
  <a class="btn btn-primary" (click)="ajouterlivre()">Ajouter </a>

</div>


<div class="panel-body">
<table *ngIf="livre" class="table table-striped table-condensed table-hover">
    <thead>
            <tr>
            
                <th>&nbsp;<a ng-click="sort_by('title')"><i class="icon-sort"></i></a></th>
                <th>&nbsp;<a ng-click="sort_by('author')"><i class="icon-sort"></i></a></th>
                <th>&nbsp;<a ng-click="sort_by('price')"><i class="icon-sort"></i></a></th>
                <th>&nbsp;<a ng-click="sort_by('quantity')"><i class="icon-sort"></i></a></th>
            
        </thead>
 
   <tbody>
                             
     <tr *ngFor="let c of livre" >
        <div class="col-md-9">
          
            <ul class="mu-menu-item-nav" >
             
              <li>
                  
                <div class="media">
                  <div class="media-left">
         
        </div>
                  <div class="media-body">
                    <h2 class="media-heading text-primary">title:{{c.title}}</h2>
                    <h3 class="media-heading text-dark">author:{{c.author}}</h3>
                    <h4 class="media-heading text-dark">price:{{c.price}}DT</h4>

                    <span class="mu-menu-price text-success">quantity:{{c.quantity}}</span>


                
        
    
  




                  </div>

                </div>
              </li>
               
               
             
              
            </ul>   
          </div>
        
          <td> <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteL(c._id)"><i class="fa fa-trash"></i></a></td>
          <td> <a class="btn btn-sm btn-primary text-white ml-1" (click)="oneditL(c._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
          <td> <a class="btn btn-sm btn-success text-white ml-1" (click)="command()">Ajouter au panier</a></td>
</tr>


        </tbody>
  
      
    </table>

</div>
</div>
</div>